{% extends 'admin/base_site.html' %}
{% load custom_filters %}
{% load i18n %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script>
function copyToClipboard(elementId) {
    var element = document.getElementById(elementId);
    if (element && document.body.createTextRange) { // para Internet Explorer
        var range = document.body.createTextRange();
        range.moveToElementText(element);
        range.select();
        document.execCommand("Copy");
    } else if (window.getSelection && document.createRange) { // Otros navegadores
        var range = document.createRange();
        var selection = window.getSelection();
        range.selectNodeContents(element);
        selection.removeAllRanges();
        selection.addRange(range);
        document.execCommand("Copy");
    }
}
</script>
{% endblock %}

{% block title %}{% trans 'Check family emails' %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      &rsaquo; {% trans 'Check family emails' %}
    </div>
{% endblock %}

{% block content %}
    <h1>{% trans 'Check family emails' %}</h1>

    <h2>{% trans 'Write or paste here the family emails you want to check' %}</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Check if these emails belong to a family' %}">
    </form>

    {% if emails_not_registered or emails_not_registered %}

    <h2>{% trans 'Emails not registered' %}</h2>

    <textarea id="emails_not_registered" rows="6" cols="130">
    {{ emails_not_registered|list_to_csv }}
    </textarea>
    <br/><br/>
    <input type="button"
           onclick="copyToClipboard('emails_not_registered')"
           value="{% trans 'Copy not registered emails to clipboard' %}" />

    <br/><br/>

    <h2>{% trans 'Emails registered' %}</h2>

    <ul>
        {% for email_registered in emails_registered %}
            <li>{{ email_registered.0 }}: <b>{{ email_registered.1 }}</b></li>
        {% endfor %}
    </ul>

    {% endif %}

{% endblock %}
