{% extends 'base_import.html' %}
{% load custom_filters %}
{% load i18n %}
{% load static %}

{% block instructions %}
    <div id="instructions" class="main-container">
        <h2>{% trans 'Instructions' %}</h2>
        <ul>
            <li><a href="{% static excel_template_file_name %}">{% trans 'Click here to download an excel template' %}</a>.</li>
            <li>{% trans 'Only the first sheet of the excel will be imported' %}.</li>
            <li>{% trans 'The rows imported will be from row 3 onwards (two header rows are expected)' %}.</li>
            <li>{% trans 'If there is no data for any column leave it empty' %}.</li>
            <li>{% trans 'The columns must be in the following order' %}:
                <ul>
                {% for column in excel_columns %}
                    {{ column | excel_column_to_html }}
                {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}
