{% extends 'admin/base_site.html' %}
{% load custom_filters %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Notify membership campaign' %}{% endblock %}

{% block extrahead %}
    <style>

        #upload_form .mb-3 {
            display: grid;
            grid-template-columns: 300px 1fr;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1rem;
        }

        #upload_form form p {
            display: grid;
            grid-template-columns: 200px 1fr;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1rem;
        }

        #upload_form input[type="text"],
        #upload_form input[type="file"],
        #upload_form select {
            max-width: 300px;
            width: 100%;
        }

        #upload_form input[type="text"],
        #upload_form input[type="number"],
        #upload_form input[type="file"],
        #upload_form select {
            width: 300px;
            max-width: 100%;
            box-sizing: border-box;
        }

        #upload_form form label {
            display: inline-block;
            width: 200px;
            margin-right: 1rem;
            text-align: right;
        }

    </style>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      &rsaquo; {% trans 'Notify membership campaign' %}
    </div>
{% endblock %}

{% block content %}
    <div id="upload_form" class="main-container">
        <h2>{% trans 'Check' %}</h2>

        <div class="mb-3">
          <label for="families_renew_count" class="form-label"><a href="{{ families_renew_url }}" target="_new">{% trans 'Last year members that will renew' %}</a></label>
          <input type="text" id="families_renew_count" class="form-control" value="{{ families_renew_count }}" disabled>
        </div>
        <div class="mb-3">
          <label for="families_not_renew_out_of_school_count" class="form-label"><a href="{{ families_not_renew_out_of_school_url }}" target="_new">{% trans 'Last year members without children in school' %}</a></label>
          <input type="text" id="families_not_renew_out_of_school_count" class="form-control" value="{{ families_not_renew_out_of_school_count }}" disabled>
        </div>
        <div class="mb-3">
          <label for="families_not_renew_declined_count" class="form-label"><a href="{{ families_not_renew_declined_url }}" target="_new">{% trans 'Last year members but have declined renew' %}</a></label>
          <input type="text" id="families_not_renew_declined_count" class="form-control" value="{{ families_not_renew_declined_count }}" disabled>
        </div>

        <form method="post" action="{% url 'notify_members_campaign' %}">
          {% csrf_token %}
            <input type="submit" value="{% trans 'Notify families by email' %}">
            <input type="button" value="{% trans 'Cancel' %}" onclick="window.open('{% url 'admin:index' %}', '_blank');">
        </form>
    </div>

{% endblock %}
