{% extends "admin/index.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}

    <style>

        #content {
            max-width: none !important;
            width: 100% !important;
        }

        .admin-apps-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        
        .admin-apps-container .module {
            flex: 0 1 200px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            margin-bottom: 50px;
            float: none !important;
            clear: none !important;
            width: 250px !important;
        }

        .admin-apps-container .module {
            flex: 0 1 200px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            margin-bottom: 50px;
        }

        .admin-apps-container .module table {
            width: 100%;
        }

        .admin-apps-container .module {
            float: none !important;
            clear: none !important;
        }
    </style>

{% endblock %}

{% block content %}

{% if menu %}
  <div class="admin-apps-container">
    {% for app in menu %}
      <div class="app-{{ app.app_label }} module{% if app.app_url in request.path|urlencode %} current-app{% endif %}">
        <table>
          <caption>
            <a href="{{ app.app_url }}" class="section">{{ app.name }}</a>
          </caption>
          {% for model in app.models %}
            {% with model_name=model.object_name|lower %}
              <tr class="model-{{ model_name }}{% if model.admin_url in request.path|urlencode %} current-model{% endif %}">
                <th scope="row" id="{{ app.app_label }}-{{ model_name }}">
                  {% if model.admin_url %}
                    <a href="{{ model.admin_url }}"{% if model.admin_url in request.path|urlencode %} aria-current="page"{% endif %}>{{ model.name }}</a>
                  {% else %}
                    {{ model.name }}
                  {% endif %}
                </th>
                <th>&nbsp;</th>
              </tr>
            {% endwith %}
          {% endfor %}
        </table>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}

{% endblock %}

{% block sidebar %}
{% endblock %}
