{% extends 'admin/base_site.html' %}
{% load custom_filters %}
{% load i18n %}
{% load static %}

{% block title %}{{ importer_title }}{% endblock %}

{% block extrahead %}

    <style>
        {% include "./base_import.css" %}
    </style>

    <script>
      function showRowsByClass(className) {
        var allRows = document.querySelectorAll('table tr');

        allRows.forEach(function(row) {
          if (row.classList.contains(className)) {
            row.style.display = "table-row";
          } else {
            row.style.display = "none";
          }
        });
      }
    </script>

{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      &rsaquo; {{ importer_title }}
    </div>
{% endblock %}

{% block content %}
    {% block steps %}
    {% include "../campaign_steps.html" %}
    {% endblock %}

    {% if importer_title %}
    <h1>{{ importer_title }}</h1>
    {% endif %}

    {% block upload_form %}
    <div id="upload_form" class="main-container">
        <h2>{% trans 'Select file to import' %}</h2>
        <form action="{{ view_url }}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Import file' %}">
        </form>
    </div>
    {% endblock %}

    {% block instructions %}
    {% endblock %}

    {% block results %}
    <div id="results" class="main-container">
        <h2>{% trans 'Results' %}</h2>

        {% if simulation %}
            <div id="simulation">
                <h3>{% trans 'Warning: This has been a test of the import' %}</h3>
                <ul>
                    <li>{% trans 'Nothing has been imported' %}</li>
                    <li>{% trans 'If the results are ok, import the file again disabling the "TEST THE IMPORT" option' %}</li>
                </ul>
            </div>
            <br/>
        {% endif %}

    {% if result %}
            <div id="results_by_row">
                <a href="javascript:showRowsByClass('all')"><span id="all_rows">{% trans 'Show all rows' %} &nbsp;&nbsp; <span id="rows_count">{{ result.rows_summary.total }}</span></span></a> &nbsp;
                <a href="javascript:showRowsByClass('ok')"><span id="rows_imported_ok">{% trans 'Imported Ok' %} &nbsp;&nbsp; <span id="rows_count">{{ result.rows_summary.imported_ok }}</span></span></a> &nbsp;
                <a href="javascript:showRowsByClass('warning')"><span id="rows_imported_warning">{% trans 'Imported warning' %} &nbsp;&nbsp; <span id="rows_count">{{ result.rows_summary.imported_warning }}</span></span></a> &nbsp;
                <a href="javascript:showRowsByClass('error')"><span id="rows_not_imported">{% trans 'Not imported' %} &nbsp;&nbsp; <span id="rows_count">{{ result.rows_summary.not_imported }}</span></span></a> &nbsp;
                <a href="javascript:showRowsByClass('omitted')"><span id="rows_omitted">{% trans 'Omitted' %} &nbsp;&nbsp; <span id="rows_count">{{ result.rows_summary.without_data }}</span></span></a> &nbsp;
                <br/><br/><br/>
                <table style="width: 100%;">
                    <thead>
                        <tr class="all ok warning error omitted">
                            <th style="width: 4%; text-align: center">{% trans 'Row' %}</th>
                            <th style="width: 6%; text-align: center">{% trans 'Result' %}</th>
                            <th style="width: 45%; text-align: left">{% trans 'Imported' %}</th>
                            <th style="width: 22.5%; text-align: left">{% trans 'Excel' %}</th>
                            <th style="width: 22.5%; text-align: left">{% trans 'Formatted' %}</th>
                        </tr>
                    </thead>
                    <tbody>
        {% for row in result.rows %}
                        <tr class="all {{ row.state }}">
                            <td style="text-align: center">{{ row.row_number }}</td>
                            <td style="text-align: center">{{ row | row_state_to_html }}</td>
                            <td style="text-align: left; font-size: 0.8125rem; line-height: 1.25rem;">
                                {{ row | row_imported_models_to_html }}
                            </td>
                            <td style="text-align: left; font-size: 0.8125rem; line-height: 1.25rem;">
                                {{ row | row_columns_raw_values_to_html:excel_columns }}</td>
                            <td style="text-align: left; font-size: 0.8125rem; line-height: 1.25rem;">
                                {{ row | row_columns_formatted_values_to_html:excel_columns }}</td>
                        </tr>
        {% empty %}
                        <tr class="all">
                            <td colspan="4">{% trans 'There are no results' %}</td>
                        </tr>
        {% endfor %}
                    </tbody>
                </table>
        </div>
        {% endif %}
    </div>
    {% endblock %}

{% endblock %}
