{% extends 'admin/base_site.html' %}

{% load custom_filters %}
{% load i18n %}
{% load static %}

{% block extrahead %}
    <style>
        .not-current-step {
            padding: 8px 16px;
            border-radius: 8px;
            text-align: center;
            font-weight: bold;
            color: #000;
            transition: background-color 0.2s, box-shadow 0.2s;
            border: 1px dashed #000000;
            {#background-color: #8ed2f9;#}
        }
        .current-step {
            padding: 8px 16px;
            border-radius: 8px;
            text-align: center;
            font-weight: bold;
            color: #fff;
            transition: background-color 0.2s, box-shadow 0.2s;
            background-color: #90e0ef;
            border: 1px solid #000000;
        }
        .not-current-step:hover {
            background-color: #caf0f8;
            color: #fff;
            cursor: pointer;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
        .arrow-cell {
            padding: 0 4px;
            vertical-align: middle;
        }
        table {
            border-collapse: separate;
            border-spacing: 4px;
        }

        h1.step-section {
            font-family: "Roboto", "Segoe UI", Arial, sans-serif;
            font-weight: normal;
            color: #333;
            margin: 20px 0 10px 0;
            background: #f8f8f8;
            border: 1px solid #ddd;
            padding: 12px 15px;
            border-radius: 4px;
        }

        h1.hightlight {
            background: #f5ec6f;
        }
    </style>
{% endblock %}

{% block title %}{% trans 'Membership campaign' %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; {% trans 'Membership campaign' %}
    </div>
{% endblock %}

{% block content %}
    {% block steps %}
        <table>
            <tr>
                <td class="{% if current_step == 'notify_members_campaign' %}current-step{% else %}not-current-step{% endif %}">
                    <a href="{% url 'notify_members_campaign' %}">{% trans 'Notify campaign start' %}</a>
                </td>
                <td class="arrow-cell">
                    <img src="{% static 'images/right-arrow.png' %}" alt="Step Icon" width="15">
                </td>
                <td class="{% if current_step == 'import_members' %}current-step{% else %}not-current-step{% endif %}">
                    <a href="{% url 'import_new_members' %}">{% trans 'Import new members' %}</a>
                </td>
                <td class="arrow-cell">
                    <img src="{% static 'images/right-arrow.png' %}" alt="Step Icon" width="15">
                </td>
                <td class="{% if current_step == 'import_last_course_members' %}current-step{% else %}not-current-step{% endif %}">
                    <a href="{% url 'import_last_course_members' %}">{% trans 'Import last course members' %}</a>
                </td>
                <td class="arrow-cell">
                    <img src="{% static 'images/right-arrow.png' %}" alt="Step Icon" width="15">
                </td>
                <td class="{% if current_step == 'generate_members_remittance' %}current-step{% else %}not-current-step{% endif %}">
                    <a href="{% url 'generate_members_remittance' %}">{% trans 'Generate remittance' %}</a>
                </td>
                <td class="arrow-cell">
                    <img src="{% static 'images/right-arrow.png' %}" alt="Step Icon" width="15">
                </td>
                <td class="{% if current_step|slice:":26" == "notify_members_remittance" %}current-step{% else %}not-current-step{% endif %}">
                    <a href="{% url 'notify_members_remittance' %}">{% trans 'Notify remittance' %}</a>
                </td>
            </tr>
        </table>
    {% endblock %}
    <br/>
{% endblock %}