django==4.0.6
model-bakery==1.6.0
django-localflavor==3.1
schwifty==2022.7.0
phonenumbers==8.12.51
django-phonenumber-field[phonenumbers]==6.3.0
django-modeladmin-reorder==0.3.1
xlrd==2.0.1
django-extensions==3.2.1
Unidecode==1.3.6